header {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 10;
    transition: background-color 1s ease;
    border-bottom: 1px solid #363636;
    /* background-color: #fff; */
}
header .header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 2%;
}
header .logo {
    color: #222;
    font-weight: 300;
    text-align: center;
    width: 20%;

}
header .logo a{
    display: inline-block;
}

header .header-title{
    font-size: 14px;
    color: #222;
    width: 40%;
    /* text-align: center; */
}


header .nav {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}


header .nav li {
    float: left;
    margin-right: 40px;
}
header .nav li:last-child{
    margin-right: 0;
}

header .nav a {
    position: relative;
    z-index: 9999;
    font-size: 14px;
    color: #222;
    z-index: 100;
}

header .nav li.on a {
    color: #121b45;
    font-weight: 600;
    color: #d33f3f;
}

header .header_bg{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    z-index: -1;
}

#wrap {
    width: 100%;
    touch-action: pan-y;
}

#wrap > div {
    width: 100%;
}
#wrap>div:nth-child(5) {
    background-color: rgb(239, 239, 239);
}

#main{
    /* height: auto; */
    position: relative;
    height: 100vh;
}

#main .main_bg{
    /* background: linear-gradient(to left, #cadaff, #ffcaca); */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 400px;
    z-index: -1;

}
.container {
    margin: 0 auto;
    max-width: 85%;
    width: 100%;
    padding-bottom: 64px;
}

#main .title,  #main .title_bottom{
    width: 100%;
    padding: 16vh 0 0 0;
    font-size: 240px;
    font-weight: 1000;
    /* line-height: 200px; */
    box-sizing: border-box;
    font-family: 'Playfair Display';
    text-align: center;
}
#main .title_bottom{
    position: fixed;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    /* -webkit-text-stroke-color: #222; */
    text-shadow: -1px 0px red, 0px 1px red, 1px 0px red, 0px -1px red;

}
#main .sub{
    margin-top: 48px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

#main .info {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #615656;
    text-align: center;

}

#main .contact{
    padding: 32px 0 64px 0;
    text-align: right;
}
#main .contact > div{
    margin-top: 24px;
}
#main .contact p{
    font-size: 14px;
}
#profile {
    font-size: 16px;
    line-height: 1.8;
}
#profile .profile-in{
    display: flex;
}
#profile .info-container{
    margin: 0 auto;
    width: 55%;
}
#profile .info-container > div{
    padding: 16px 0;
}
#profile  h3{
    padding: 20px 0 12px 0;
    text-transform:uppercase;
}
#profile  h3::before{
    content: "";
    display: inline-block;
    margin-right: 8px;
    width: 3.5px;
    height: 16px;
    background-color: #444;
    font-weight: 1000;
}
#profile span{
    margin-left: 12px;
    font-weight: 400;
}
#profile .profile-skill{
    padding: 24px 0;
}
#profile .profile-skill span{
    width: 200px;
    display: inline-block;
}
#profile .profile-skill p{
    display: inline-block;
    border-radius: 30px;
    border: 1px solid #b3b3b3;
    margin: 4px 1px;
    padding: 2px 14px;
    font-size: 14px;
    /* color: #424242; */
    /* background-color: #ebebeb; */
    font-size: 13px;
    color: #222;
}
#profile .profile-info{
    margin: 0 auto;
    width: 80%;
    text-align: left;
    padding-left: 2%;
}
#profile .profile-intro{
    /* margin-left: 5%;
    margin: 0 auto; */
    /* width: 40%; */
    font-size: 16px;
    line-height: 1.75;
    word-break:keep-all;
    /* font-weight: 300; */
}
#profile .profile-intro p{
    margin-left: 8px;
}
#project{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#project .tab_menu{
    height: 50px;
    /* position: absolute; */
    /* right: 5%; */
    /* margin-bottom: 24px; */
    /* background-color: rgba(256, 256, 256, .5); */
    /* padding: 16px; */
    /* border-radius: 10px; */
}
#project .tab_menu ul{
   display: flex;
   justify-content: center;
    /* top: 50%; */
    /* display: flex; */
    /* justify-content: center; */
    /* text-align: center; */
   
}
#project .tab_menu li{
    position: relative;
    cursor: pointer;
    font-size: 20px;
    padding: 4px 24px;
    /* margin: 72px 0; */
    border-radius: 10px;
    /* z-index: 9; */
    /* display: flex; */
    
    transition: all 0.3s ease;
}
#project .tab_menu li.active {
    font-weight: 600;
    color: #cd3b3b;
    /* background-color: #ffeaea; */
    text-decoration: underline;
}
#project .tab_menu li:hover{
    font-weight: 600;
    font-size: 24px;
}

#project .items{
    width: 100%;
    margin: 0 auto;
}
#project .items li{
    display: none;
    margin-bottom: 32px;
}
#project .items li.show {
    display: block;
}
#project .project-img{
    margin-right: 2%;
    width: 45%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
#project img{
    width: 100%;
}
#project .box{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
#project .box-info{
    margin: 0 auto;
    width: 35%;
    word-break:keep-all;
}
#project .box-top{
    font-weight: 500;
}
#project .number{
    font-size: 36px;
    font-weight: 300;
    color: #333333;
    font-family: 'TTHakgyoansimJiugaeR';
}
#project .project-title{
    font-size: 24px;
    font-weight: 600;
}
#project .project-info{
    padding: 24px 0;
    /* height: 2em; */
    /* font-size: 1.125em; */
}
#project .box-bottom > div{
    padding: 8px 0 8px 0;
}
#project .box-bottom h4{
    padding: 8px 0 2px 0;
    font-weight: 600;
}
#project .box-bottom p{
    font-size: 14px;
}
#project .project-btn{
    display: flex;
}
#project .project-btn div.btn{
    margin-top: 24px;
    margin-right: 16px;
}
#project .project-btn div.btn:last-child{
    margin-right: 0px;
}

#end{
    position: relative;
    height: 90vh;
    color: #222;
    overflow: hidden;
}
#end:after{
    content : "";
    position: absolute;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./../images/circle.png') no-repeat center;
    opacity: .5;
    z-index: -1;
}

#end .container{
    height: 100%;
}
#end .form-container{
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}
#end .info{
    padding: 8vh 0;
    clear: both;
    font-size: 24px;
    font-weight: 400;
}
#end .email{
    width: 40%;
    margin: 0 auto;
    padding: 24px 24px;
    /* cursor: pointer; */
   

    /* animation: hue 2s infinite linear; */

    /* animation-name: demo;
	animation-duration: 2s;
	animation-iteration-count : infinite; */
}

#end .email a{
    font-size: 20px;
    font-weight: 500;
    color: #222;
    background-image: linear-gradient(92deg, #0f992b, #3d3afe);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    transition: all 0.3s ease;

}
#end .email a:hover{
    /* background-image: #222; */
    /* color: #222; */
    /* animation: none; */
    /* font-size: ; */
    /* animation-play-state: paused;
    font-size: 24px;
    font-weight: 600; */
    font-size: 24px;

}

@-webkit-keyframes demo {
    0% {
            font-size: 20px;
    }
    25% {
            font-size: 20px;
    }
    50% {
        font-size: 24px;
    }

    75% {
        font-size: 24px;
    }

    100% {
        font-size: 20px;
    }

}


#end .circle{
    width: 100%; height: 100%;
    position: absolute;
    top: 4%; left: 4%;
    z-index: -1;
    opacity: .5;
}

footer{
    border-top: 1px solid #ddd;
    background-color: #fff;
    padding: 48px 0;
}
footer p{
    color: #888;
    text-align: center;
    font-size: 12px;
}