header {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 80px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* border-bottom: 1px solid #d3d3d3; */
    backdrop-filter: blur(10px);
    z-index: 1;
}

header .logo {
    float: left;
    margin: 18px 0 0 4%;
    color: #222222;
    font-weight: 300;
}

header .nav {
    float: right;
    margin: 28px 4% 0 0;
}

header .nav li {
    float: left;
    margin-right: 40px;
}
header .nav li:last-child{
    margin-right: 0;
}

header .nav a {
    font-size: 16px;
    font-weight: 300;
    color: #333333;
}

header .nav li.on a {
    color: #121b45;
    font-weight: 800;
}
#wrap {
    width: 100%
}

#wrap > div {
    width: 100%;
}
#wrap>div:nth-child(5) {
    background-color: rgb(239, 239, 239);
}

#main{
    height: auto;
    background: linear-gradient(to left, #cadaff, #ffcaca);
}

.container {
    margin: 0 auto;
    max-width: 70%;
    width: 100%;
    padding-bottom: 64px;
}

#main .title {
    width: 100%;
    padding: 30vh 0 0 0;
    font-size: 80px;
    font-weight: 800;
    line-height: 86px;
    box-sizing: border-box;
}
#main .sub{
    margin-top: 40px;
    font-size: 20px;
    font-weight: 400;
}

#main .info {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #615656;
}

#main .contact{
    padding: 32px 0 64px 0;
    text-align: right;
}
#main .contact > div{
    margin-top: 24px;
}
#main .contact p{
    font-size: 14px;
}



#profile {
    /* background-color: #eee; */
    
    font-size: 16px;
    line-height: 1.75;
}
#profile .profile-in{
    display: flex;
}
#profile .info-container{
    /* width: 100%; */
    
    margin: 0 auto;
    width: 60%;
}
#profile .info-container li{
    display: flex;
    justify-content: space-between;
    line-height: 1.75;
    padding: 12px;
}
#profile .profile-skill{
    padding: 24px 0;
}
#profile  h3{
    padding: 20px 0 12px 0;
    text-transform:uppercase;
}
#profile span{
    margin-left: 12px;
    font-weight: 400;
}
#profile .profile-skill span::after{
    content: ' | ';
    font-weight: 1000;
    padding: 0 4px ;
}
#profile .profile-skill p{
    display: inline-block;
    border-radius: 30px;
    /* border: 1px solid #9a9a9a; */
    margin: 4px 2px;
    padding: 4px 12px;
    font-size: 14px;
    /* color: #424242; */
    background-color: #eeeeee;
    color: #222;
}
#profile .profile-name::after{
    content: ' | ';
}
#profile .profile-info{
    margin: 0 auto;
    width: 80%;
    text-align: left;
    padding-left: 2%;
}
#profile .profile-intro{
    /* margin-left: 5%;
    margin: 0 auto; */
    /* width: 40%; */
    font-size: 16px;
    line-height: 1.75;
    word-break:keep-all;
    /* font-weight: 300; */
}
#profile .profile-intro p{
    margin-left: 8px;
}


#project{
    /* background-color: #f2f2f2; */
}
#project .tab_menu ul{
    display: flex;
}
#project .tab_menu li{
    display: flex;
}
#project .items{
    width: 100%;
    margin: 0 auto;
}
#project .items li{
    margin-bottom: 32px;
}
#project .project-img{
    /* background-color: #aaa;/ */
    margin-right: 2%;
    width: 40%;
    /* height: 400px; */
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
#project img{
    width: 100%;
}
#project .box{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
#project .box-info{
    margin: 0 auto;
    width: 45%;
    word-break:keep-all;
}
#project .box-top{
    /* display: flex; */
    /* justify-content: space-between; */
    font-weight: 500;
    /* padding: 24px 0; */
}
#project .number{
    font-size: 36px;
    font-weight: 300;
    color: #757575;

}
#project .project-title{
    font-size: 24px;
}
#project .project-info{
    padding: 24px 0;
    /* height: 2em; */
    /* font-size: 1.125em; */
}
#project .box-bottom > div{
    padding: 8px 0 8px 0;
}
#project .box-bottom h4{
    padding: 8px 0 2px 0;
}
#project .box-bottom p{
    font-size: 14px;
}
#project .project-btn{
    display: flex;
}
#project .project-btn div.btn{
    margin-top: 24px;
    margin-right: 16px;
}
#project .project-btn div.btn:last-child{
    margin-right: 0px;
}
#end{
    position: relative;
    height: 100vh;
    color: #222;
    /* z-index: -1; */
    overflow: hidden;
    
    /* background: url('./../images/원.png') no-repeat center; */
    /* background: linear-gradient(to left, #aec7ffd8, #d9ffced2); */

}
#end:after{
    content : "";
    position: absolute;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./../images/circle.png') no-repeat center;
    opacity: .5;
    z-index: -1;

}

#end .container{
    height: 100%;
}
#end .form-container{
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}
#end .info{
    padding: 8vh 0;
    clear: both;
    font-size: 24px;
    font-weight: 300;
}
#end .email{
    width: 40%;
    font-size: 24px;
    font-weight: 500;
    color: #222;
    border-radius: 10px;
    padding: 24px 24px;
    backdrop-filter: blur(10px);
    margin: 0 auto;
    margin-top: 48px;
}

#end .circle{
    width: 100%; height: 100%;
    position: absolute;
    top: 4%; left: 4%;
    z-index: -1;
    opacity: .5;
}

footer{
    background-color: #222;
    padding: 32px 0;
}
footer p{
    color: #afafaf;
    text-align: center;
    font-size: 14px;
}