* { margin: 0; padding: 0; }
body{font-size: 16px; color: #222; font-family: 'Noto Sans KR', sans-serif;}
ul,li {list-style: none;}
a {text-decoration: none; color: #222;}
.title{
    padding: 200px 0 48px 0;
    font-size: 48px;
    font-weight: 800;
}
.subtitle{
    font-size: 24px;
    padding: 24px 0 64px 0;
}
.box{
    padding: 48px;
}
.item-1 li{
    width: 100%;
}
.item-2 li{
    width: calc(100% / 2 -16px);
    margin-right: 16px;
}
.item-3 li{
    width: calc(100% / 3 -16px);
    margin-right: 16px;
}
.item-4 li{
    width: calc(100% / 4 -16px);
    margin-right: 16px;
}
.item-2 li:last-child,
.item-3 li:last-child,
.item-4 li:last-child{
    margin-right: 0px;
}
input[type='text'], textarea{
    border-radius: 10px;
    border: none;
    padding: 8px 16px ;
    font-family: 'Noto Sans KR', sans-serif;
}
textarea{
    resize: none;
}
.box-title{
    /* padding: 24px 0 8px 0; */
    padding-bottom: 8px;
    font-size: 1.25em ;
    font-weight: 500;
    color: #333;
    text-align: left;
}
.btn a, input[type='submit']{
    display: block;
    border: 1px solid #aaaaaa;
    color: #282828;
    padding: 4px 14px;
    border-radius: 1000px;
    cursor: pointer;
    background: none;
    transition: 0.3s;
    font-size: 14px;
}
.btn a:hover, input[type='submit']:hover{
    background-color: #282828;
    color: #fff;
}

/* 스크롤 */
.scroll_wrap {overflow: hidden;}
.scroll_on {opacity: 0;transition: all 1s;}
.scroll_on.active {opacity: 1 !important;transform: translate(0, 0) !important;}
.scroll_on.type_top {transform: translate(0, -50px);}
.scroll_on.type_bottom {transform: translate(0, 50px);}
.scroll_on.type_left {transform: translate(-50px, 0);}
.scroll_on.type_right {transform: translate(50px, 0);}

/* 맨 위로 가기 버튼 */
#top_btn{
    visibility: hidden;

    position: fixed;
    right: 32px;
    bottom: 32px;
    width: 56px !important;
    height: 56px;

    overflow: hidden;
    z-index: 999;

    background-color: #fff;
    backdrop-filter: blur(100px);
    border: 1px solid #e0e0e0;
    border-radius: 1000px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.15), 0 2px 8px rgba(48, 48, 48, 0.15);
    
    text-align: center;
    line-height: 72px;
}
#top_btn a{
    display: block;
}
#top_btn svg{
    width: 32px;
    height: 32px;
}